<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace ="~{master/head :: head}"></div>
<head>
    <title>Cửa hàng</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Danh sách sản phẩm</h1>
<div class="product-list">
    <div th:each="product : ${products}" class="product-item">
        <img th:src="@{/assets/{img}(img=${product.image})}" alt="Ảnh sản phẩm"/>
        <h3 th:text="${product.name}"></h3>
        <p>Giá: <span th:text="${product.price}"></span>₫</p>
        <form th:action="@{/cart/add}" method="post">
            <input type="hidden" th:name="productId" th:value="${product.id}"/>
            <button type="submit">Thêm vào giỏ</button>
        </form>
    </div>
</div>
</body>
</html>
